<!--<div>-->
  <!--<tabset>-->
    <!--<tab heading="Basic title" id="tab1">Basic content</tab>-->
    <!--<tab heading="Basic Title 1">Basic content 1</tab>-->
    <!--<tab heading="Basic Title 2">Basic content 2</tab>-->
  <!--</tabset>-->
<!--</div>-->

<!--<div class="btn-group" dropdown>-->
  <!--<button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">-->
    <!--Button dropdown <span class="caret"></span>-->
  <!--</button>-->
  <!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>-->
    <!--<li class="divider dropdown-divider"></li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->


<!--<div class="btn-group" dropdown>-->
  <!--<button type="button" class="btn btn-danger">Action</button>-->
  <!--<button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split">-->
    <!--<span class="caret"></span>-->
    <!--<span class="sr-only">Split button!</span>-->
  <!--</button>-->
  <!--<ul *dropdownMenu class="dropdown-menu" role="menu">-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Another action</a>-->
    <!--</li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Something else-->
      <!--here</a></li>-->
    <!--<li class="divider dropdown-divider"></li>-->
    <!--<li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->




<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-lg-10 col-xl-8">
      <h1 class="text-center">The Sith Triumvirate</h1>
      <h2 class="text-center">Tier {{ tier }} Damage Dealt</h2>
      <p><strong>Start:</strong> {{ start | date }}</p>
      <p><strong>Finish:</strong> {{ finish | date }}</p>
      <p><strong>Reset Attempts:</strong> {{ resetAttempts }}</p>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-lg-10 col-xl-8">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" class="text-center align-middle">#</th>
            <th scope="col" class="align-middle">Name</th>

            <th *ngFor="let i of days; first as isFirst; last as isLast"
                [ngStyle]="isFirst && isLast && { 'display':'none' }"
                scope="col" class="text-center">
              Day {{ i }}
            </th>

            <th scope="col" class="text-center">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of items; index as i">
            <th scope="row" class="text-right">
              {{ i + 1 }}
            </th>
            <td class="font-weight-bold">{{ item.name }}</td>

            <td *ngFor="let i of days; first as isFirst; last as isLast"
                class="text-right"
                [ngStyle]="isFirst && isLast && { 'display':'none' }"
                [ngClass]="{
                  'bg-danger': item['day' + i] === 0 && !isLast,
                  'bg-warning': item['day' + i] === 0 && isLast
                 }">
              {{ item['day' + i] | number }}
            </td>

            <td class="text-right font-weight-bold"
                [ngClass]="{ 'bg-danger': getPlayerTotalDamage(item) === 0 }">
              {{ getPlayerTotalDamage(item) | number }}
            </td>
          </tr>
          </tbody>
          <tfoot class="thead-light">
          <tr>
            <th colspan=2 class="text-right">Total:</th>

            <th *ngFor="let i of days; first as isFirst; last as isLast"
                [ngStyle]="isFirst && isLast && { 'display':'none' }"
                class="text-right">
              {{ getDayDamage(i) | number }}
            </th>

            <th class="text-right">{{ getTotalDamage() | number }}</th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
